---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro'
---

<Layout title="All About Gavin">
	<main>
		<div class="inline-flex flex-col bg-green-100">
			<div class="pt-10 h-86 p-3 grid grid-cols-2">
				<div class="flex flex-col justify-center"> 
					<h1 class="pt-5 text-slate-500 text-center">Hello, I'm Gavin!</h1>
					<h4 class="pb-10 text-slate-400 text-center">I am a computer science student at the University of Virginia focusing on cybersecurity and data science.</h4>
				</div>
				<div>
					<img src="/src/Gavin.jpg" alt="Gavin's Image" class="rounded-full mx-auto h-64 border-4 border-black">
				</div>
			</div>
			<div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		border-color: black;
		border-width: 5px;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
