---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gavin's Projects">
	<main>
		<div class="bg-green-100 w-screen main-background">
			<h1 class = "pt-5 text-black text-center">Let's talk projects.</h1>
			<h4 class = "pb-10 text-slate-800 text-center">I've spent time working in the fields of computer science and sustainability, looking for opportunities tying the two together.</h4>
		</div>
	</main>
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		border-color: black;
		border-width: 5px;
	}
	.main-background {
		border-bottom: 4px;
	}
</style>
