---

interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--header-background: 35, 74, 46;
		--accent: 34, 97, 51;
		--complement: 112, 181, 131;
	}
	body {
    	font-family: 'Roboto Slab', serif; 
	}

	h1, h2, h3 {
		font-family: 'Lora', serif; 
	}

	p {
		font-family: 'Montserrat', sans-serif; 
	}

	a {
		font-family: 'Nunito', sans-serif; 
}
	
</style>
